body {
	background: #b4d0e8 url('../images/bg_body.png') repeat-x;
}

.logo {
	margin: 0;
	height: 70px;
}

.login-form {
    position: relative;
}

.group {
	z-index: 1000;
	position: relative;
}

.fan {
	background: url('../images/fan.png') bottom right no-repeat;
	position: absolute;
	width: 126px;
	height: 126px;
	bottom: 52px;
	right: 0;
	z-index: 0;
    background-size: contain;
}

.fan-request, .fan-forgot {
	bottom: 11px;
}

h2, h3 {
	color: #333;
	font-weight: bold;
}

.login-form .title h3 {
	float: left;
}

.login-form .title .lock {
	visibility: hidden;
}

a:hover {
	color: #333;
}
a {
	color: #333;
}

@media (max-width: 767px) {
	.offset4 {
		margin: 0;
		float: none;
		display: block;
	}
}