body {
	background-image: url('../images/bg_login.png');
}

.logo {
	margin-top: 20px;
	margin-bottom: 10px;
}

.content {
	width: 335px;
}

.login-form {
	background: url('../images/bg_login_body.png') no-repeat bottom left;
	padding: 1px 40px;
	min-height: 250px;
}

h2, h3 {
	color: #0067ab;
	font-weight: 500;
	letter-spacing: -1px;
	margin-top: 7px;
}

.login-form .title h3 {
	float: left;
}

.login-form .title .lock {
	margin: 7px;
}

.divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
	background-color: #E5E5E5;
	border-bottom: 1px solid white;
}

#fm1 {
	margin: 0;
}

.login-form .group {
	margin-bottom: 16px;
}

input.error {
	border-color: #B94A48;
}

.footer {
	font-size: 11px;
}

@media (max-width: 767px) {
	.offset4 {
		margin: 0;
		float: none;
		display: block;
	}
}